Executable = "{{ grid_home }}/site-sonar/scripts/stat.sh";
Requirements = other.CE == "{{ target_ce }}";

OutputFile = {
  "std*", "*log"
};
OutputDir = "{{ output_dir }}";

TTL="1200";

OutputErrorE = {"std*@disk=1"};


